* {
  margin: 0; 
  padding: 0; 
  border: 0;
  box-sizing: border-box;
}

.container {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.content-container {
  background-color: rgba(7, 55, 70, 0.8);
  min-height: 100vh;
}

.mr-tp-20 {
  margin-top: 20px;
}